:root{
  --primary-color:#f6fafc;
  --secondary-color:#163466;
  --accent-color:#faca22;
}

.slider-container {
  padding: 20px;
  text-align: center;
  color: var(--secondary-color);
}

.slider-container p {
  font-size: 2em;

}
.room-slider {
  width: 100%;
  max-width: 600px;
  margin: 20px 0;
  color: var(--secondary-color)

}

.slider-value {
  font-size: 1.5em;
  margin-top: 10px;
}

.container {
  padding: 20px;
  text-align: center;
  color: var(--secondary-color);
}

.appliance-item {
  display: inline-block;
  margin: 10px;
  cursor: pointer;
}

.selected {
  border: 2px solid black;
}

.appliance-image {
  width: 50px;
  height: 50px;
  margin-bottom: 5px;
}

.container {
  text-align: center;
  
}

.appliances-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  font-size:20px;
}

.appliance-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 15px;
  border-radius: 20px;
  cursor: pointer;
  border: 1px solid none;
  background-color:var(--primary-color);
  transition: background-color 0.3s ease-in-out;
}

.appliance-item.selected {
  background-color: var(--secondary-color); 
  color: var(--primary-color);
}

.appliance-image {
  width: 40px; 
  height: 40px;
}
.submit-container{
  margin-top: 20px;
  text-align: center;

}
.submit-btn{
  padding: 10px 20px;
  background-color: var(--accent-color);
  color: var(--secondary-color);
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.submit-btn:hover{
  background-color:var(--primary-color);
}